<div class="row">

    <button type="buttom" *ngIf="isLogged">
        <button type="button" class="btn btn-danger" routerLink="/edit-aboutme/1">
            Editar Usuario
        </button>
    </button>


    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} class="img-fluid" id="avatar">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Sobre mí</h2>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>
</div>